<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class="users">
        
        {% for item in users %}
            <div class="conteiner">
                
                <h1>Name: {{ item }} {{ users[item].full_name }}</h1>
                <p>Email: {{users[item].email}} </p>
            </div>

        {% endfor %}
    </div>

</body>
</html>